.tw-label-primary {
  @apply block text-sm/6 font-medium text-gray-900
}

.required-indicator {
  @apply text-red-500 ml-1
}

.tw-input-primary {
  @apply block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 border border-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6
}
