:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;

  --success: 132, 95.3%, 33.3%, 0.74;
  --success-foreground: 109 55% 28%;

  --info: 223 78% 42%;
  --info-foreground: 225 100% 50%;

  --attention: 45 90% 45%;
  --attention-foreground: 60 98.4% 48.8% 0.82;

  --ring: 215 20.2% 65.1%;

  --radius: 0.5rem;

  /* SITF Color Palette */
  --sitf-primary-blue: #00698c;
  --sitf-secondary-teal: #00b8b0;
  --sitf-6: #161616;
  --sitf-7: #5c636a;
  --sitf-8: #a7adaf;
  --sitf-9: #dee0de;
  --sitf-dark-blue: #004f6b;
  --sitf-4: #80cec8;
  --sitf-5: #d3df44;
  --sitf-10: #eeefbe;
  --white: #ffffff;
}

.dark {
  --background: 224 71% 4%;
  --foreground: 213 31% 91%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --accent: 216 34% 17%;
  --accent-foreground: 210 40% 98%;

  --popover: 224 71% 4%;
  --popover-foreground: 215 20.2% 65.1%;

  --border: 216 34% 17%;
  --input: 216 34% 17%;

  --card: 224 71% 4%;
  --card-foreground: 213 31% 91%;
}
