<div class="home teacher-home">
  <div class="home-content teacher-content">
    <h3 class="home-header">OUR MISSION</h3>
    <p class="home-paragraph">Stocks in the Future’s mission is to develop highly motivated middle school students who are eager to learn and dedicated to attending class through the use of incentives coupled with a financial literacy curriculum focused on investing that reinforces Math, Language Arts and Social Studies.</p>
    <h3 class="home-header">VISION</h3>
    <p class="home-paragraph">Stocks in the Future’s vision is to see middle school students thrive in their classrooms, homes, and neighborhoods by investing in their financial future and themselves.</p>
    <h3 class="home-header">PURPOSE</h3>
    <p class="home-paragraph">SIF develops curriculum to give middle school students real-world financial education that is not provided in schools today. SIF teaches underserved middle school students personal finance skills to empower each student to take control of their financial and academic future.</p>
    <h3 class="home-header">VALUES</h3>
    <p class="home-paragraph">Educate, Encourage, Empower</p>
    <h3 class="home-header imp-note-side">Important Note to SIF Teachers</h3>
    <p class="imp-note-note">At the beginning of the school year, you are given this important information…</p>
    <ul class="imp-note-list">
      <li>Personal logins to access SIF inputting grades and attendance</li>
      <li>A link to SIF Education Resources in Google Docs</li>
      <li>A master list student logins and passwords</li>
    </ul>
    <p>Please keep ALL this info in a safe place!!!</p>
  </div>
  <div class="image-content">
    <%= image_tag "teacher.png", alt: "Teacher Photo", class: "teacher-photo"%>
    <p class="sif-works sif-works-header">How SIF Works for Teachers</p>
    <ul class="sif-works sif-works-content">
      <li>All SIF teachers receive training in September before the program begins. SIF classes begin in October.</li>
      <li>Teachers work with a scripted curriculum outlining how to teach investment fundamentals and basic financial literacy skills.</li>
      <li>There is flexibility to be creative when using the SIF curriculum.</li>
      <li>The SIF Curriculum is “interdisciplinary.” Mathematics, reading and social studies skills are reinforced throughout the program.</li>
      <li>Teaching tools include a teacher edition, student workbooks, “Growing Money” for 6th graders, and PowerPoints all found on Google Docs.</li>
      <li>Teachers are given links to access these resources during teacher training.</li>
      <li>Weekly attendance and quarterly grades are entered on the SIF website quarterly by SIF instructors.</li>
      <li>SIF coordinates having guest speakers visit SIF classes throughout the school year.</li>
      <li>Some SIF classes may be eligible for class trips throughout the school year.</li>
      <li>Our SIF Program Specialist visits each class on average of 3 times a school year to collect data.</li>
      <li>We have an Instagram page developed for SIF teachers and students that outlines what’s new with SIF investments.</li>
    </ul>
  </div>
</div>