<h1>Editing classroom</h1>

<%= render "form", classroom: @classroom %>

<br>

<div>
  <%= link_to "Show this classroom", @classroom %> |
  <%= link_to "Back to classrooms", classrooms_path %>
</div>
