<div class="address-container">
  <p class="address-label">SIF CONTACT</p>
  <p class="sitf-address">
    Stocks in the Future 
    PO Box 19124 
    Towson, MD 21284
    ProgramSupport@SIFinvest.org
  </p>
</div>
<div class="socials-container">
  <p class="socials-label">STAY CONNECTED TO STOCKS IN THE FUTURE!</p>
  <div class="contact-socials">
    <a class="social-link" href="https://sifonline.org/" target="_blank">
      <%= image_tag "/assets/cursor-fill.svg", alt: "Cursor Logo", class: "socials-logo"%>
      SIFONLINE.ORG
    </a>
    <a class="social-link" href="https://www.facebook.com/StocksintheFuture/" target="_blank">
      <%= image_tag "/assets/facebook.svg", alt: "Facebook Logo", class: "socials-logo"%>
      FACEBOOK.COM/STOCKSINTHEFUTURE
    </a>
  </div>
</div>
