<nav class="nav">
  <%= image_tag "logo.png", alt: "Stocks In The Future Logo", class: "logo"%>
  <div class="nav-container">
    <div class="basic-nav basic-nav-right">
      <a class="basic-nav-item">Login</a>
      <a class="basic-nav-item">Contact Us</a>
      <a class="basic-nav-item">FAQ</a>
    </div>
    <div class="fancy-nav">
      <a class="fancy-nav-blue fancy-nav-item"><%= image_tag "/assets/house.svg", alt: "Home", class: "home-icon"%></a>
      <a class="fancy-nav-teal fancy-nav-item">Student</a>
      <a class="fancy-nav-teal fancy-nav-item">Teacher</a>
      <a class="fancy-nav-teal fancy-nav-item">About SIF</a>
    </div>
    <div class="basic-nav">
      <a class="basic-nav-item">Stock Info</a>
      <a class="basic-nav-item">Current News</a>
    </div>
  </div>
</nav>


