<div class="basic-nav">
  <a class="basic-nav-item">My Classroom</a>
  <a class="basic-nav-item">Creative Toolbox</a>
  <a class="basic-nav-item">Personal Info</a>
  <a class="basic-nav-item">Downloads</a>
  <a class="basic-nav-item">Import</a>
</div>