<div class="bg-white shadow-sm ring-1 ring-gray-900/5 rounded-lg overflow-hidden">
  <div class="px-4 py-5 sm:px-6">
    <dl class="divide-y divide-gray-200">
      <% attributes.each do |attribute| %>
        <div class="py-4 sm:grid sm:grid-cols-3 sm:gap-4">
          <dt class="text-sm font-medium text-gray-500">
            <%= attribute.to_s.humanize %>
          </dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <%= format_attribute(resource, attribute) %>
          </dd>
        </div>
      <% end %>
    </dl>
  </div>
</div>
