<% if existing_action?(collection_presenter.resource_name, :edit) %>
  <td><%= if accessible_action?(resource, :edit)
            link_to(
              t("administrate.actions.edit"),
              [:edit, namespace, resource],
              class: "action-edit"
            )
          end %></td>
<% end %>

<% if resource.respond_to?(:archived?) %>
  <td>
    <% if resource.archived? %>
      <%= button_to(
            "Activate",
            [:toggle_archive, namespace, resource],
            class: "link link--success",
            method: :patch,
            data: { turbo_confirm: "Are you sure you want to activate this classroom?" }
          ) %>
    <% else %>
      <%= button_to(
            "Archive",
            [:toggle_archive, namespace, resource],
            class: "link link--danger",
            method: :patch,
            data: { turbo_confirm: "Are you sure you want to archive this classroom? Teachers and students will no longer be able to access it, but all historical data will be preserved." }
          ) %>
    <% end %>
  </td>
<% end %>
