<h1> <%= @user.username %>'s Portfolio Summary</h1>

<p><strong>Cash Balance:</strong> $testnum</p>

<h2>Stock Holdings</h2>

<ul>
  <% @portfolio.stocks.each do |stock| %>
    <li>
      <strong><%= stock.ticker %>:</strong>
    </li>
  <% end %>
</ul>