<h1> <%= @user.username %>'s Portfolio Summary</h1>

<p><strong>Cash Balance:</strong> $testnum</p>

<h2>Stock Holdings</h2>

<ul>
  <% @portfolio.stocks.each do |stock| %>
    <li>
      <strong><%= stock.ticker %>:</strong>
    </li>
  <% end %>
</ul>

<!-- Buy button -->
<%= link_to "Buy", new_transaction_path(type: 'buy'), class: "btn btn-primary" %>

<!-- Sell button -->
<%= link_to "Sell", new_transaction_path(type: 'sell'), class: "btn btn-danger" %>