<div class="bg-white rounded-[22px] border border-black/30 h-[150px] py-5 px-6 overflow-visible relative">
  <div class="h-full flex items-center justify-between gap-2">
    <div class="flex flex-col justify-center">
      <p class="text-sm text-gray-600">My Earnings to Invest</p>
      <p class="text-2xl font-semibold leading-tight tracking-tight mt-1"><%= number_to_currency(@portfolio.cash_balance) %></p>
      <%= link_to "Invest Now", stocks_path, class: "mt-2 bg-[var(--sitf-secondary-teal)] hover:bg-[var(--sitf-4)] text-white font-medium px-6 py-2.5 rounded-full shadow-sm w-fit transition-colors" %>
    </div>

    <!--  tw h-[170px], -mb-2 does not work... so we use direct style for this overflow effect-->
    <%= image_tag 'investment-funds.png', class: 'w-auto object-contain select-none pointer-events-none self-end -mr-8', style: 'height: 170px; margin-bottom: -8px;', alt: 'Investment Funds' %>
  </div>
</div>
