<div class="home">
  <div class="home-content">
    <%= render partial: "layouts/mission" %>
  </div>
  <div>
    <%= image_tag "group.png", alt: "Group Photo", class: 'group-photo' %>
  </div>
</div>