<div class="home">
  <div class="home-content">
    <h1 class="home-header">OUR MISSION</h1>
    <p class="home-paragraph">Stocks in the Future’s mission is to develop highly motivated middle school students who are eager to learn and dedicated to attending class through the use of incentives coupled with a financial literacy curriculum focused on investing that reinforces Math, Language Arts and Social Studies.</p>
    <h1 class="home-header">VISION</h1>
    <p class="home-paragraph">Stocks in the Future’s vision is to see middle school students thrive in their classrooms, homes, and neighborhoods by investing in their financial future and themselves.</p>
    <h1 class="home-header">PURPOSE</h1>
    <p class="home-paragraph">SIF develops curriculum to give middle school students real-world financial education that is not provided in schools today. SIF teaches underserved middle school students personal finance skills to empower each student to take control of their financial and academic future.</p>
    <h1 class="home-header">VALUES</h1>
    <p class="home-paragraph">Educate, Encourage, Empower</p>
  </div>
  <div>
    <%= image_tag "group.png", alt: "Group Photo", class: 'group-photo' %>
  </div>
</div>