<div id="<%= dom_id order %>">
  <p>
    <strong>Stock:</strong>
    
    
    <%= order.stock.company_name %>
  </p>

  <p>
    <strong>Shares:</strong>
    <%= order.shares %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
