<h1>Editing order</h1>

<%= render "form", order: @order, transaction_type: @order.existing_transaction_type, shares_owned: @shares_owned%>

<br>

<div>
  <%= link_to "Show this order", @order %> |
  <%= link_to "Back to orders", orders_path %>
</div>
