<div class="max-w-3xl mx-auto">
  <%= admin_breadcrumbs(@breadcrumbs) %>

  <div class="bg-white shadow-sm ring-1 ring-gray-900/5 rounded-lg mb-6">
    <div class="px-6 py-6">
      <h2 class="text-2xl font-bold text-gray-900 mb-6">Edit Portfolio Transaction #<%= @portfolio_transaction.id %></h2>

      <%= render "form", portfolio_transaction: @portfolio_transaction %>
    </div>
  </div>
</div>
