<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Student</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Math Grade</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Reading Grade</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Attendance Days</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Perfect Attendance?</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <%= render partial: "grade_entry", collection: grade_book.grade_entries, as: :entry, locals: { disabled: grade_book.completed?} %>
    </tbody>
  </table>
</div>

<% if grade_book.grade_entries.empty? %>
  <div class="text-center py-8">
    <p class="text-gray-500">No grade entries for this grade book yet.</p>
  </div>
<% end %>
