<div class="mt-8">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-lg font-medium text-gray-900">Grade Book</h3>
  </div>

  <%= turbo_frame_tag "grade_book_entries" do %>
    <%= render "table", grade_book: @grade_book %>
  <% end %>
</div>
