<div class="mt-8" data-controller="autosave" data-autosave-interval-value="30000">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-lg font-medium text-gray-900">Grade Book</h3>
    <div data-autosave-target="status" class="text-sm text-gray-500"></div>
  </div>

  <%= form_with model: [@classroom, @grade_book],
                url: classroom_grade_book_path(@classroom, @grade_book),
                method: :patch,
                data: { turbo_frame: "_top" },
                html: { data: { autosave_target: "form" } } do |f| %>

    <%= render partial: "table", locals: { grade_book: @grade_book } %>

    <br />

    <div class="flex flex-col items-center gap-4">
        <%= f.submit "Save Grades",
                     class: "tw-btn-primary",
                     data: { autosave_target: "button" }
        %>

      <%= button_tag "Finalize Grades",
                     type: "button",
                     disabled: @grade_book.incomplete?,
                     class: @grade_book.incomplete? ? "tw-btn-primary-disabled" : "tw-btn-primary" %>

    </div>


  <% end %>
</div>
