.home {
  color: white;
  background-color: #00b8b0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.home-content {
  padding: 35px 50px 0px 50px;
}

.home-header {
  margin-bottom: 0;
  font-weight: normal;
  font-size: 1.4rem;
}

.home-paragraph {
  margin-top: 0;
  padding-top: 5px;
  line-height: 2;
  margin-bottom: 30px;
}

.group-photo {
  height: 100%;
}
