<p>Hello <%= @resource.email %>!</p>

<p>You have a new account created by an admin. Click on the link to login to your account and get started.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
