name: Ensure Docker container for Ruby can build successfully 

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Images
        working-directory: ./
        run: |
           docker compose build
           
      - name: Run containers 
        working-directory: ./
        run: |
          docker compose up -d
  
      - name: Wait for the database to be ready
        run: sleep 60s

      - name: Curl web page 
        working-directory: ./
        run: |
          curl -X GET http://localhost:3000